/**
 *  The livestatus library implements the livestatus query protocol.
 */

library "livestatus"

object LivestatusListener "livestatus" { }

object LivestatusListener "livestatus-tcp-local" {
  socket_type = "tcp"
  bind_host = "127.0.0.1"
  bind_port = "6558"
}

object LivestatusListener "livestatus-tcp-remote" {
  socket_type = "tcp"
  bind_host = "{{ hostvars[inventory_hostname].IP }}"
  bind_port = "6558"
}
