############################################
# put your own settings into this file
# settings from this file will override
# those from the thruk.conf
############################################

<Component Thruk::Backend>
  <peer>
    name   	= {{ hostvars[inventory_hostname].ui_node_name }}
    id      	= d857d
    type    	= livestatus
    <options>
      peer 	= {{ hostvars[inventory_hostname].ui_node_ip }}:6558
    </options>
  </peer>

{% for host in groups['normal_node'] %}
  <peer>
    name    	= {{ hostvars[host].normal_node_name }}
    id      	= {{ hostvars[host].thruk_id }}
    type    	= livestatus
    <options>
       peer 	= {{ hostvars[host].normal_node_ip }}:6558
    </options>
  </peer>
{% endfor %}
</Component>

<configtool>
  core_type	= icinga2
  core_conf	= /etc/icinga2/icinga2.conf
  obj_check_cmd	= /run/icinga2/cmd/icinga2.cmd -v /run/icinga2/cmd/icinga2.cmd
</configtool>
