/**
 * The APIUser objects are used for authentication against the API.
 */
object ApiUser "root" {
  password = "e6acc52b08d33b79"
  // client_cn = ""

  permissions = [ "*" ]
}

object ApiUser "{{ hostvars[inventory_hostname].api_user }}" {
  password = "{{ hostvars[inventory_hostname].api_password }}"
  // client_cn = ""

  permissions = [ "*" ]
}
